{% load static %}
<footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-2">
          <p><a href="https://www.ceipinocho.es/" target="_blank"><img class="imagen-responsive" style="width: 6em; height: 8em; border-radius: 6px;" src="{% static 'img/logotipo pinocho 2.jpg' %}" alt=""></a></p>
        </div>

        <div class="col-sm-12 col-md-6">
          <p class="text-justify"><i>LA IDEA DE SIMPLIFICAR</i> Es una idea para simplificar la gestión de un centro educativo. No cabe duda de que cada vez son más plataformas las necesarias para interactuar con todos los requisitos de los centros educativos. Aquí ayudamos a hacerlo de forma simple y segura.</p>
        </div>
        <!--
        <div class="col-xs-6 col-md-3">
          <h6></h6>
          
          
          <ul class="footer-links">
            <li><a ></a></li>
            <li><a > </a></li>
            <li><a ></a></li>
            <li><a ></a></li>
            <li><a ></a></li>
            <li><a ></a></li>
          </ul>
          
        </div>
        -->
        <div class="col-xs-6 col-md-3" style="padding-left: 11em;">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a target="_blank" href="https://mail.ionos.es/">IONOS Webmail</a></li>
            <li><a target="_blank" href="https://hidrive.ionos.com/#login">IONOS HiDrive</a></li>
            <li><a target="_blank" href="https://www.juntadeandalucia.es/educacion/portalseneca/web/seneca/inicio">Séneca</a></li>
            <li><a target="_blank" href="https://www.kidfy.es/Account/Login">Kidfy</a></li>
            <li><a target="_blank" href="https://kidscare.medicalcenter.io/login/">Kidscare</a></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020/21 All Rights Reserved by JMG
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" target="_blank" href="https://www.facebook.com/CEI-Pinocho-682892548438359/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>



