{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Numero de cuenta</th>
        <th scope="col">D.N.I.</th>
        <th scope="col">Teléfono 1</th>
        <th scope="col">Teléfono 2</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.Nombre }}</td>
            <td>{{ c.Apellidos }}</td>
            <td>{{ c.NumeroCuenta }}</td>
            <td>{{ c.dni }}</td>
            <td>{{ c.Telefono1 }}</td>
            <td>{{ c.Telefono2 }}</td>
            <td>
                <a title="Editar Registro" href="{% url 'PadreEdit' c.Id %}" class="btn btn-info btn-sm btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a title="Eliminar Registro" href="{% url 'PadreDelete' c.Id %}" class="btn btn-danger btn-sm btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}