{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'lib/bootstrap-datepicker-1/css/bootstrap-datepicker3.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/bootstrap-datepicker-1/css/bootstrap-datepicker3.css' %}">

<script src="{% static 'lib/vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'lib/bootstrap-datepicker-1/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'lib/bootstrap-datepicker-1/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-datepicker-1/locales/bootstrap-datepicker.es.min.js' %}"></script>


{% endblock %}


{% block content %}

    
      <div class="card card-default">
        <div class="card-header">
          <h6 class="m-0 text-primary">{{ title }}</h6>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">  
                 {{ form.as_p }}
                
                </div>
              </div>
            </div> 
            <button type="submit" class="btn btn-primary btn-sm btn-flat"><i class="fas fa-plus"></i> {{ submit }}</button>
            <a href="{{ cancel }}" class="btn btn-primary btn-sm btn-flat"><i class="fas fa-undo"></i> Volver</a>
          </form>

        </div>  
      </div>  
    

{% endblock %}



{% block javascript %}


<script>

$('#id_fecha').datepicker({
  format: 'dd-mm-yyyy',
  language: "es",
  keyboardNavigation: false,
  calendarWeeks: true,
  todayHighlight: true,
  toggleActive: true,
  autoclose: true
});

</script>

{% endblock %}