{% extends 'list_categorias.html' %}

{% block columns %}
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Categoría</th>
        <th scope="col" style="text-align: center;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.Id }}</td> 
            <td>{{ c.categoria }}</td> 
            <td style="text-align: center;">
                <a title="Editar Registro" href="{% url 'CatGastoEdit' c.Id %}" class="btn btn-info btn-sm btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a title="Eliminar Registro" href="{% url 'CatGastoDelete' c.Id %}" class="btn btn-danger btn-sm btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block tfoot %}
        <tr>
            <th scope="col"></th>
            <th style="text-align: right;" scope="col"></th>
            <th style="text-align: center;" scope="col"></th>
        </tr> 
{% endblock %}