{% extends 'list_recibos.html' %}

{% block columns %}
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">DNI</th>
        <th scope="col">Concepto</th>
        <th scope="col">Fecha</th>
        <th style="text-align: center;" scope="col">Importe</th>
        <th style="text-align: center;" scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.Id }}</td> 
            <td>{{ c.padre.Nombre }}</td> 
            <td>{{ c.padre.Apellidos }}</td>
            <td>{{ c.padre.dni }}</td>
            <td>{{ c.concepto }}</td>
            <td>{{ c.fecha }}</td>
            <td style="text-align: center;">{{ c.cantidad }}</td>
            <td style="text-align: center;">
                <a href="{% url 'ReciboEdit' c.Id %}" class="btn btn-info btn-sm btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'ReciboDelete' c.Id %}" class="btn btn-danger btn-sm btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a target="_blank" href="{% url 'ReciboPDF' c.Id %}" class="btn btn-outline-dark btn-sm btn-flat">
                    <i class="fas fa-print"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block tfoot %}
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th style="text-align: right;" scope="col"></th>
            <th style="text-align: center;" scope="col"></th>
            <th scope="col"></th>
        </tr> 
{% endblock %}