{% extends "list.html" %}

{% block columns %}
    <tr>
        <th scope="col">Nombre del tutor</th>
        <th scope="col">Número de cuenta</th>
        <th scope="col">Concepto</th>
        <th scope="col">Mes</th>
        <th style="text-align: center;" scope="col">Importe</th>
        <th style="text-align: center;" scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.Padre }}</td> 
            <td>{{ c.Padre.NumeroCuenta }}</td> 
            <td>{{ c.Concepto }}</td>
            <td>{{ c.Mes }}</td>
            <td style="text-align: center;">{{ c.Importe }}</td>
            <td style="text-align: right;">
                <a title="Editar Registro" href="{% url 'AdeudoEdit' c.id %}" class="btn btn-info btn-sm btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a title="Eliminar Registro" href="{% url 'AdeudoDelete' c.id %}" class="btn btn-danger btn-sm btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block tfoot %}
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th style="text-align: right;" scope="col"></th>
            <th style="text-align: center;" scope="col"></th>
            <th scope="col"></th>
        </tr> 
{% endblock %}
